h2 {
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;
}
p{
    text-align: justify
}
strong{
    font-style: bold
}
second{
    letter-spacing: 0.6em;
    text-align: left;

}
last{
    font: size 1.5em;
    color: red;
}
