h1 {
    color: green;

}

body {
    background-color: #F9F8F8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
  }

h2 {
    color:red;
}
.wall > h1 {
        font-style: italic;
        color: yellow;
        text-shadow: 2px 2px black;
}
.wall {

    text-align: center;
}
.strong {
    font-weight: bold;

}

.strong > a:active {
    color:brown
}
.strong > a:visited{
    color: brown
}
.header {
    font-style: italic;
}

.box {
    background-color:white;
}

h3 > a:visited{
    color:brown;
}
h3 > a:active{
    color:brown
}
.container > .section{
    background-color: #eee;
}
.item-1{
    background-color:lightgray;
}
.item-2{
    background-color: lightgreen;
}
.item-3{
    background-color: lightpink;
}

.item-4{
    background-color: lightsalmon;
}

.item-5{
    background-color: lightseagreen;
}
.item-6 {
    background-color: lightskyblue;
}

.box-color{
    color: white;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box > a:active{
    color:blue

}
.box > a:visited {
    color:blue
}
