body {
  background-color: #333;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875em;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px rgba(32, 32, 32, 0.3);
}
header button:nth-child(1) {
  color: #333333;
  background-color: white;
  border: none;
  border-radius: 10px;
  text-transform: lowercase;
}
header button:nth-child(2) {
  color: white;
  background-color: #ff3600;
  border: none;
  border-radius: 10px;
  text-transform: lowercase;
}

.logo {
  font-weight: bold;
  font-size: large;
}

.cz1 {
  color: rgba(111, 111, 111, 0.3);
}

.cz2 {
  color: #fcc133;
}

.container {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  box-shadow: 0 5px rgba(32, 32, 32, 0.3);
  margin: 5em 0;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em;
}
.header span {
  margin: 0 1em;
}
.header .liczby {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.header .obserwowani {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 1500px 350px;
}

.section1 {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  gap: 1em;
}
.section1 .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section1 .data, .section1 .fajne, .section1 button {
  background-color: #8b8b8b;
  border-radius: 10px;
  margin-bottom: 1em;
  font-size: 20px;
  text-align: center;
}
.section1 .napisy {
  width: 100%;
}
.section1 button {
  padding: 5em 1em;
  width: 80%;
}

i {
  color: rgb(195, 195, 195);
  width: 50px;
}

.image {
  width: 100%;
  height: 40em;
  background-color: #8b8b8b;
}

.wyswietlenia {
  float: right;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(73, 68, 68);
  height: 60%;
}
.section2 .photo {
  margin-top: 2em;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background-color: #8b8b8b;
}
.section2 .obserwuj {
  background-color: #ff3600;
  color: white;
  text-align: center;
  width: 80%;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-top: 1em;
}
.section2 .miasto {
  color: #8b8b8b;
}
.section2 .imie {
  color: #8b8b8b;
}
.section2 button {
  color: #8b8b8b;
  text-align: center;
  width: 80%;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  margin: 0.5em 0;
}

.fajne {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */