
$background-color: #333;
$logo-1: #8b8b8b;
$logo-2: #fcc133;
$orange: #ff3600;
$dark-gray: rgba(111, 111, 111, 0.3);
$white: white;
$box-shadow: 0 5px rgba(32, 32, 32, 0.3);

body {
    background-color: $background-color;
    color: $white;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.875em;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }

  button:hover{
    cursor: pointer;
  }

  header{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow;


    button:nth-child(1){
        color:#333333;
        background-color: $white;
        border: none;
        border-radius: 10px;
        text-transform: lowercase;
    }


    button:nth-child(2)
  {
    color: $white;
    background-color: $orange;
    border: none;
    border-radius: 10px;
    text-transform: lowercase;
    }
  }
.logo{
    font-weight: bold;
    font-size: large;
}
  .cz1{
    color:$dark-gray;
  }

  .cz2{
    color: $logo-2;
  }








  .container{
    width: 1400px;
    margin-right: auto ;
    margin-left: auto;
  }

  .header{
    display: flex;
    box-shadow: $box-shadow;
    margin: 5em 0;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;

            span{
                margin: 0 1em;
            }


        .liczby{
            font-weight: bold;
            display: flex;
            justify-content: space-around;
            width: 30%;
        }

        .obserwowani{
            text-align: center;
            width: 30%;
            display: flex;
            justify-content: space-between;
        }


  }






  .main{
    display: grid;
    grid-template-columns: 1500px 350px ;

  }

  .section1{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    gap: 1em;
        .right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

        }



        .data,.fajne,button{
            background-color: $logo-1;
            border-radius: 10px;
            margin-bottom: 1em;
            font-size: 20px;
            text-align: center;

        }

        .napisy{
            width: 100%;
        }

        button{
            padding: 5em 1em;
            width: 80%;





        }

  }

i{
     color: rgb(195, 195, 195);
     width: 50px;
                    }

.image{
    width: 100%;
    height: 40em;
    background-color: #8b8b8b;


}

.wyswietlenia{
    float: right;
}

@mixin buttons {
     text-align: center;
        width: 80%;
        border: none;
        padding: 0.5em 1em;
        border-radius: 10px;

}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(73, 68, 68);
    height: 60%;

    .photo{
        margin-top: 2em;
        width: 7em;
        height: 7em;
        border-radius: 50%;
        background-color: $logo-1;
    }

    .obserwuj{
        background-color: $orange;
        color: white;
        @include buttons;
        margin-top: 1em;

    }

    .miasto{
        color: $logo-1;
    }
    .imie{
        color: $logo-1;
    }


    button{
        color:$logo-1;
        @include buttons;
        margin: 0.5em 0;

    }
}

.fajne{
    text-transform: uppercase;
}

