$back:rgb(2, 2, 84);
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $back;
    color: white;
    
}


header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(24, 63, 76);
    
}
.right{
    display: flex;
    align-items: center;
    width: 50%;
        div:nth-child(1){
            font-size: 60px;
            font-weight: bold;
            display: inline-block;
            padding: 0 0.5em;
        }
        .input{
            width: 100%;
            input{
                width: 100%;
                background-color: rgb(100, 100, 181);
                border: none;
                padding: 0.5em ;
                border-radius: 20px;
                color: white;
            }
        }
}

.buttons{
    display: flex;
    align-items: center;
    padding-right: 1em;
}
.buttons2{
    button{
        padding: 0.5em;
        font-weight: bold;
        border: none;
        border-radius: 10px;
    }

    button:nth-child(1){
        background-color: green;
    }
    button:nth-child(2){
        background-color: rgb(0, 181, 184);
    }
}





main{
    width: 80%;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    padding: 1em;
    font-weight: bold;
    

        span{
        margin: 1em;
            }
        span:nth-child(1){
        border-bottom: solid 2px rgb(0, 195, 255);
        padding-bottom: 1em;
        font-weight: bold;
        color: rgb(0, 208, 255) ;

            }
}

.content{
    order: 2;
    padding: 1em;
    display: flex;
        .mini_obrazek{
        width: 4em;
        height: 4em;
        background-color: azure;
        margin-right: 0.5em;
        border-radius: 5px;
        

            }

        .duzy_obrazek{
            width: 80%;
            background-color: plum;
            height: 30em;
            border-radius: 5px;
        }

}


.pasek.boczny{
    order: 1;
    border-left: 1px solid rgb(24, 63, 76);
    
    grid-row: span 3;
}

.popularne{
    background-color: rgb(31, 31, 97);
      color:rgb(0, 213, 255);
    padding: 1em;
      border-radius: 10px;
     margin: 1em;
    .header{
        font-weight: bold;
        padding: 0 0 1em 0;
        border-bottom: 1px solid rgb(24, 63, 76);
    }

    .item{
        padding: 1em 0;
    }
    .continue{
        border-top: 1px solid rgb(24, 63, 76);
        padding: 1em 0;
    }
}

.pomaranczowe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    background-color: orangered;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
   
    button{
        margin-top: 1em;
       width: 80%;
    }
}

.opcje{
    margin: 1em;
}

.info{
  
    padding: 1em;
    background-color: rgb(107, 70, 255);
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 1em;
    position: fixed;
    bottom: 1em;
    left: 20%;
    border-radius: 5px;
    .header{
        font-weight: bold;
    }

    .napisy{
        margin:0 1em ;
    }
    button{
        margin: 0.5em;
        padding: 1em;
        background-color: rgb(107, 70, 255);
        color: white;
    }
    button:nth-child(2){
        color: rgb(107, 70, 255);
        background-color: white;
    }
}

footer{
    background-color: rgb(45, 45, 141);
    text-align: center;
    padding: 3em;
}