body{
    margin: 0;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    
}

li::marker{
    content: ">  ";
    
}

li:first-child{
    font-weight: bold;
}
li{
    padding: 0.5em;
}
.menu{
    .button{
        display: flex;
        justify-content: center;
    }
    button{
        background-color: rgb(49, 124, 221);
        color: white;
        padding: 1em 3em;
        border-radius: 10px;
        border: none;
    }
    .logo{
        padding: 1em 1em 0 1em;
    }
}

.box{
    display: flex;
    justify-content: space-between;

}

.item-1{

    

}

.items{
    display: flex;
}

.header{
    font-weight: bold;
    font-size: 20px;
    padding: 1em 0;
}


    .Title{
        font-weight: bold;
    }

.profil{
    position: fixed;
    bottom: 1em;
    background-color: white;
    border-radius: 20px;
    width: 30%;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content:space-between ;
        span{
            position: relative;
            right: 2em;
        }
        button{
            border: none;
            background-color: white;
        }
}
.kółeczko{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: plum;
}

.item-1{

    .profile{
        width: 4em;
        height: 4em;
        border-radius: 50%;
        background-color: plum;
        display: inline-block;    }

    input{
        border: none;
        color: gray;
        position: relative;
        bottom: 2em;
        
    }
}

.item-1{
    margin: 1em;
button{
    background-color: rgb(49, 124, 221);
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
}}

.items{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.item-2{
    border: solid 1px lightgray;
    margin: 0.5em 0;
    padding: 1em;
    button{
        background-color: black;
        color: white;
        font-weight: bold;
        padding: 0.5em 1em;
        border-radius: 20px;
        border: none;
        margin-top: 2em;
    }
}

.item-3{
    border: solid 1px lightgray;
    margin: 0.5em 0;
    padding: 1em;
        span:nth-child(1){
            color: gray
        }
        span:nth-child(2){
        color: blue;}

        .user{
            
            span:nth-child(1){
                color:black;
                font-weight: bold;
            }
            span:nth-child(2){
                color: gray
            }
            
        }

        .image{
            height:10em;
            background-color: bisque;
            border-radius: 20px;
        }
}
$containernr3: rgb(228, 228, 228);
.label{
    
padding: 1em;
    input{
        background-color: $containernr3 ;
        border-radius: 20px;
    padding: 0.5em 1em;
    border: 1px lightgrey solid;
    width: 80%;
    }
}

.recommended{
    padding: 1em;
    
}



.polecane{
    background-color: $containernr3;
        border-radius: 15px;
        margin: 1em;
    div{
        padding: 0.5em;
        font-weight: bold;
    }
}