<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Martyna</h1>
        <h2>Kaczmarczyk</h2>
        <h3>Uniwersytet Gdański</h3>
        <h4>Wydział matematyki, fizyki i informatyki</h4>
        <h5>profil informatyki praktycznej</h5>
    </header>
    <main></main>
    <section>
        <h1>Hi</h1>
        <p>
            <h3>Książki</h3>
            Lubię czytać książki. W domu mam całe dwie pełne biblioteczki. Pionowo stoją na półkach i jest to niezwykle przyjemne i satysfakcjonujące uczucie, gdy mogę przeciągnąć palec po ich grzebietach. Niestety, ostatnio przerzuciłam się na czytanie e-booków, ponieważ dostęp do nich okazał się łatwiejszy.
                <div><a href="https://lubimyczytac.pl/" target="_blank">Strona, na której można znaleźć książki na wieczór</a></div>
            <h3>Kochane koty birmańskie</h3>
            Zacznę od przyjrzenia się rasie kotów birmańskich. Na tle innych kotów wyróżniają się lojalnością. Są to niezwykle futrzyste zwierzaki o spokojnym usposobieniu, a niektórzy nawet zwą je świętymi. Ma to swoje uzasadnienie w historii, gdyż uważa się, że mieszkały one w świątyniach Dalekiego Wschodu i towarzyrzyły mnichom. 
                <div> <a href="https://zwierzaki.pl/kot-birmanski" target="_blank"> Więcej o kotach birmańskich</a></div>
            <h3>Lorem Ipum</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ratione sit quibusdam molestiae odit placeat ut. Assumenda qui, ab natus iusto aperiam et animi ad consequuntur nostrum laboriosam, nam unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quidem, expedita repudiandae natus soluta recusandae ad minus voluptas explicabo! Nobis, quasi sapiente quo similique nihil soluta maxime esse obcaecati minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi amet nihil repudiandae iusto vitae provident doloremque illum ullam sint, optio sapiente, et modi accusantium nisi accusamus laboriosam excepturi, nemo reiciendis? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat consectetur minus maiores aut nesciunt ipsum ex tenetur natus fugiat, laborum ad explicabo ratione pariatur sint cumque optio perspiciatis placeat dolorum? Trochę bawi mnie ta funcja.
            <div><img src="http://placekitten.com/200/300"></div>
            <div>Link do strony: <a href=https://placekitten.com target="_blank"></div>
            <div><img src="kotek.jpg"></a></div>
        </p>
        <h2>CV</h2>
        <div>
            <dl>
                <dt>2010-2016</dt>
                <dd>Szkoła Podstawowa nr 4 w Goleniowie</dd>
                <dt>2016-2019</dt>
                <dd>Gimnazjum nr 2 w Goleniowie</dd>
                <dt>2019-2022</dt>
                <dd>Liceum nr 1 w Goleniowie</dd>
            </dl>
        </div>
        <div>
            <ul>
                <li><h3>HTML</h3></li>
                <ul>
                    <li><a href="https://www.w3schools.com/html" target="_blank">w3schools</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">mdn web docs</a></li>
                </ul>
                <li><h3>CSS</h3></li>
                <ul>
                    <li><a href="https://www.w3schools.com/css/" target="_blank">w3schools</a></li>
                    <li><a href="https://cssdb.org/" target="_blank">what’s next for CSS?</a></li>
                    <li><a href="https://css-tricks.com/" target="_blank">CSS - css tricks</a></li>
                </ul>
                <li><h3>SCSS</h3></li>
                <ul>
                    <li><a href="https://sass-lang.com/documentation/" target="_blank">sass documentation</a></li>
                </ul>
                <li><h3><a href="https://caniuse.com/" target="_blank">Can I use?</a></h3></li>
            </ul>
        </div>
        <table>
            <tr>
                <td>encja</td> <td>symbol</td>
            </tr>
            <tr>
                <td>&amp;lt;</td> <td><</td>
            </tr>
            <tr>
                <td>&amp;gt;</td> <td>></td>
            </tr>
            <tr>
                <td>&amp;amp;</td> <td>&</td>
            </tr>
            <tr>
                <td>&amp;copy;</td> <td>&copy;</td>
            </tr>
            <tr>
                <td>&amp;reg;</td> <td>&reg;</td>
            </tr>
        </table>

        <table>
            <tr>
                <td rowspan="4">El Paso</td> <td rowspan="2">Czort</td> <td>Wielki Szlem</td>
            </tr>
            <tr>
                <td>Forta</td>
            </tr>
            <tr>
                <td rowspan="2">Ellora</td> <td>Witraż</td>
            </tr>
            <tr>
                <td>Elza</td>
            </tr>
        </table>

        <style>
            table,td {border: solid 1px;}
        </style>
    </section>
    <footer>
        <address>
            e-mail to: marti.kaczmarczyk@wp.pl
        </address>
    </footer>
</body>
</html>
