@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 0.8px;
  background-color: #464646;
}

.main {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #2f2f2f;
  box-shadow: 0 0 2px rgb(18, 18, 18);
  padding: 2em;
}

.menu {
  float: right;
  color: gray;
}

.tytuł {
  text-transform: uppercase;
  font-weight: 900;
}

.tytuł > spam:nth-child(1) {
  color: white;
  margin-right: 0;
}

.tytuł > spam:nth-child(2) {
  color: red;
  margin-left: 0;
}

.tytuł spam:nth-child(3) {
  display: block;
  position: absolute;
  left: 3.5rem;
  color: grey;
  font-size: 13px;
}

.picture {
  width: 300px;
  border: #2f2f2f solid 1em;
  margin-top: 10%;
}

.zdjecie {
  width: 350px;
  border: #2f2f2f solid 1em;
  position: absolute;
  right: calc(50% - 7em);
  top: 50%;
}

.wielkie {
  font-size: 60px;
  color: white;
  font-weight: 900;
  letter-spacing: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 18rem;
  right: 25rem;
}

.napisy {
  width: 30%;
  float: right;
  color: gray;
  margin-top: 300px;
  margin-right: 100px;
  line-height: 160%;
}

.more {
  color: white;
}

.more:hover {
  font-size: 18px;
}/*# sourceMappingURL=zad_04.css.map */