
@mixin theme(){
    height: 150px;
    text-align: center;
    width: 300px;
    position: absolute;
}

.A{
    background-color: rgb(231, 231, 255);
    @include theme;
    border: solid blue; 
    bottom: calc(50% - 50px);
    right: calc(50% - 50px);
    
 
}
.B{
    @include theme;
    border: solid red;
    background-color: rgb(255, 237, 237);
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}