.A {
    position: relative;
    display: inline;
    left:10px;
    top: 10px;
    
    
}
.B {
    position: relative;
    display: inline;
    left:10px;
    bottom: 10px;
    

 
    
    
}
.C {
    display: inline;
    text-align: center;
    background-color: yellow;
    position: absolute;
    left: 1000px;
    width: 500px;
    height: 60px;
    border: solid 4px;
    border-color: red;
    


}