body
{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
#nav
{
    position: sticky;
    top:0;
    position: -webkit-sticky;
    box-shadow: 0px 0px 10px #a5a5a5;
    padding: 10px;
    background-color: #f5f5f5;
    color:#686868;
    font-weight: 900;

}

#content{
    margin-left: 20%;
    margin-right: 20%;
    
}

.section{
    padding: 10px;
        }

.event{
    box-shadow: 0px 0px 10px #a5a5a5;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}


.title{
    font-size: 18px;
    font-weight: bold;
}
.event > div{
    padding: 5px;
}
.date{
    float: right;
}

button{
    padding: 1em;
    border-radius: 20px;
    border: solid #0465cc;
}

.primary{
    background-color: #0465cc;
    color: white;
}

.secondary{
    /*color: #0465cc;*/
}



.info{
    position: sticky;
    position: -webkit-sticky;
    bottom: 5%;
    background-color: #fafad2;
    width: 10%;
    float: right;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #a5a5a5;
    margin: 5%;


}

.section:first-child  .secondary {
    float: right;

}
