

div.content > :first-of-type {

  font-weight: bold;

}

div.content > :first-child {

  letter-spacing: 1em;

}

div.content > :last-child {

  color: green;

}

/* div.content > :nth-child(odd) { */

div.content > :nth-child(2n+3) {

  text-decoration: underline;

}

p {

  color: red;

}

.link a:link {

  color: orange;

}

.link a:visited {

  color: green;

}

.link a:hover {

  font-size: 24px;

}

.link a:active {

  color: white;

}

/* .a.b {

} */

button:hover {

  cursor: pointer;

}

input:focus {

  color: red;

}

