.content > div {
    display: inline;
  }
  
  span {
    display: block;
  }
  
  div.A {
    /* width: 500px; */
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
  }
  
  div.none {
    /*display: none;*/
    width: 400px;
    height: 200px;
     overflow: scroll; 
    overflow: hidden;
  }
  
  div.box {
    height: 200px;
    width: 200px;
    background-color: lightblue;
    /* border: 5px solid red; */
    border-top: 10px double blue;
    border-bottom: 8px dotted orange;
    border-left: 5px solid green;
    border-radius: 50%;
  }
  /* width 1000px  */
  div.box-2 {
    width: 300px;
    height: 200px;
    border: 5px solid black;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 50px;
    padding: 2em;
    /* margin: 5em; */
    margin: 5em 10em;
    /* margin: auto; */
  
    /* width rzeczywiste - 374px */
    /* width 300 box-sizing:  */
    box-sizing: border-box;
  }
  