body{
    margin: 0;
}

#outer{
    display: flex;
    justify-content: space-between;
    height: 100vh;



    

}
.box{
        font-size: 20px;
        color: rgb(255, 255, 255);
        width: 10vh;
        padding: 1vh;
        min-height: 10vh;
}


$colors: lightgray, rgb(92, 90, 90), rgb(150, 148, 148);
@each $color in $colors {
    $i:index($colors, $color);
.box:nth-child(#{$i}){
    background-color: $color;  
}
}

.box:nth-child(1){
    align-self: flex-start;

}

.box:nth-child(2){
    justify-self: center;
    align-self: center;
}

.box:nth-child(3){
    align-self: flex-end;
  
}