body{
    margin: 0;
}

#outer{
    display: flex;
    
    flex-direction: column;
    height: 100vh;
    align-items: center;

}
.box{
        font-size: 20px;
        color: rgb(150, 99, 99);
        width: 10vh;
        padding: 1vh;
        min-height: 10vh;
}


$colors: lightgray, rgb(92, 90, 90), rgb(150, 148, 148);
@each $color in $colors {
    $i:index($colors, $color);
.box:nth-child(#{$i}){
    background-color: $color;  
}
}

.box:nth-child(1){

}

.box:nth-child(2){
    justify-content: center;
    align-self: center;
}

.box:nth-child(3){
    
}