body {
  margin: 0;
}

#outer {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.box {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 10vh;
  padding: 1vh;
  min-height: 10vh;
}

.box:nth-child(1) {
  background-color: lightgray;
}

.box:nth-child(2) {
  background-color: rgb(92, 90, 90);
}

.box:nth-child(3) {
  background-color: rgb(150, 148, 148);
}

.box:nth-child(1) {
  align-self: flex-start;
}

.box:nth-child(2) {
  justify-self: center;
  align-self: center;
}

.box:nth-child(3) {
  align-self: flex-end;
}/*# sourceMappingURL=zad_03c.css.map */