body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.box.box-1 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: violet;
}

.box.box-2 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: wheat;
  order: 9;
}

.box.box-3 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: whitesmoke;
  order: -1;
}

.box.box-4 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: yellow;
}

.box.box-5 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: yellowgreen;
}

.box.box-6 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: turquoise;
}

.box.box-7 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: tomato;
  order: 10;
}

.box.box-8 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: thistle;
}

.box.box-9 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: teal;
}

.box.box-10 {
  color: white;
  width: 10%;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  background-color: tan;
}/*# sourceMappingURL=zad_1.css.map */