* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 0.8px;
}

header {
  color: rgb(255, 255, 255);
  background-image: url("foggy.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

.nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
}

.header {
  width: 10%;
  font-weight: 800;
  font-size: 20px;
  padding-right: 2em;
}

.nav-items {
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

li {
  display: inline;
}

header > section {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header > section .title {
  font-weight: 900;
  font-size: 25px;
  padding: 1em;
}
header > section .description {
  padding: 3em;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-bottom: 2em;
}

.item {
  flex-basis: 40vh;
  box-shadow: rgba(180, 54, 54, 0.24) 0px 3px 8px;
  margin: 1em;
  flex-grow: 1;
}

.image {
  background-color: #8e9074;
  height: 10em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.date {
  margin: 0.5em;
  color: white;
}

.title {
  padding: 1em;
  font-weight: 900;
}

.description {
  padding: 1em;
  text-align: justify;
}/*# sourceMappingURL=zad_04.css.map */