body{
    margin: 0;
}

.container{
display: flex;
justify-content: space-around;  
height: 100vh;
}



@for $i from 1 through 10{
    .box.box-#{$i}{
        color:white;
        width: 10%;
        text-align: center;
        color: white;
        font-size: 80px;
        text-shadow: 2px 2px gray;
        

        
        @if $i == 1{
            background-color: violet
        }
        @else if $i==2{
            background-color: wheat;
            order: 9;
        }
        @else if $i==3{
            background-color: whitesmoke;
            order: -1;
        }
        @else if $i==4{
            background-color: yellow;
        }
        @else if $i==5{
            background-color: yellowgreen 
        }
        @else if $i==6{
            background-color: turquoise;
        }
        @else if $i==7{
            background-color: tomato;
            order: 10;
        }
        @else if $i==8{
            background-color: thistle;
        }
        @else if $i==9{
            background-color: teal;
        }
        @else if $i==10{
            background-color: tan;
        }


    }

    
}
//