body {
  margin: 0;
}

#outer {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh;
  align-items: center;
}

.box {
  color: rgb(74, 47, 47);
  font-size: 20px;
  color: white;
  width: 10vh;
  padding: 1vh;
  min-height: 10vh;
}

.box:nth-child(1) {
  background-color: lightgray;
}

.box:nth-child(2) {
  background-color: rgb(92, 90, 90);
}

.box:nth-child(3) {
  background-color: rgb(150, 148, 148);
}/*# sourceMappingURL=zad_03a.css.map */