body{
    margin: 0;
}

#outer{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
    align-items: center;

}
.box{
        color: rgb(74, 47, 47);
        font-size: 20px;
        color: white;
        width: 10vh;
        padding: 1vh;
        min-height: 10vh;
}


$colors: lightgray, rgb(92, 90, 90), rgb(150, 148, 148);
@each $color in $colors {
    $i:index($colors, $color);
.box:nth-child(#{$i}){
    background-color: $color;  
}
}
