body{
    margin: 0;
    height: 100vh;
}

.container{
display: flex;
background-color: white;
flex-direction: column;
justify-content: flex-end;
flex-wrap: wrap;
height: 98vh;
border: solid 1vh gray;






}



@for $i from 1 through 10{
    .box.box-#{$i}{
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
        color: white;
        font-size: 20px;
        text-shadow: 0px 2px gray;
        justify-content: center;


    
    
        

        
        @if $i == 1{
            background-color: violet
        }
        @else if $i==2{
            background-color: wheat;
      
        }
        @else if $i==3{
            background-color: whitesmoke;
            
        }
        @else if $i==4{
            background-color: yellow;
        }
        @else if $i==5{
            background-color: yellowgreen 
        }
        @else if $i==6{
            background-color: turquoise;
        }
        @else if $i==7{
            background-color: tomato;
          
        }
        @else if $i==8{
            background-color: thistle;
        }
        @else if $i==9{
            background-color: teal;
        }
        @else if $i==10{
            background-color: tan;
        }


    }

    
}
