body {
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 98vh;
  border: solid 1vh gray;
}

.box.box-1 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: violet;
}

.box.box-2 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: wheat;
}

.box.box-3 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: whitesmoke;
}

.box.box-4 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: yellow;
}

.box.box-5 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: yellowgreen;
}

.box.box-6 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: turquoise;
}

.box.box-7 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: tomato;
}

.box.box-8 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: thistle;
}

.box.box-9 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: teal;
}

.box.box-10 {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px gray;
  justify-content: center;
  background-color: tan;
}/*# sourceMappingURL=zad_02.css.map */