body {
  margin: 0;
}

#outer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.box {
  font-size: 20px;
  color: rgb(150, 99, 99);
  width: 10vh;
  padding: 1vh;
  min-height: 10vh;
}

.box:nth-child(1) {
  background-color: lightgray;
}

.box:nth-child(2) {
  background-color: rgb(92, 90, 90);
}

.box:nth-child(3) {
  background-color: rgb(150, 148, 148);
}

.box:nth-child(2) {
  justify-content: center;
  align-self: center;
}/*# sourceMappingURL=zad_03b.css.map */