body {
    background-color: rgb(28, 30, 33);
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0 15% 0 15%;
  }

.change-photo{
    background-color: lightblue;
    height: 6em;
    width: 6em;
    border-radius: 50%;  
}

.header{
    display: flex;
    margin-bottom: 2em;
    
}

.name{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 25px;
    align-self: flex-end;
    padding-left: 1em;

}

.fas.fa-camera {
    position: relative;
    top: 3em;
    left: 3em
}
  
$backcolor: rgb(43, 44, 46);

.nav{
 
    border-radius: 10px;
    $backcolor: rgb(43, 44, 46);
    
}

.box.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.menu-list{
    display: flex;
    justify-content: space-around;
    
}
.menu-item{
    display: inline;
    padding: 0 1em 0 1em;

}

a{
    color: white;
}

.buttons{

    display: flex;
    padding: 1em;

}

.btn{
    border-radius: 10px;
    background-color: gray;
    color: white;
    border: 0;
    margin: 0 0.5em 0 0.5em;
    padding: 0.2rem;
}

.container{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    
}

 .box{
    background-color: $backcolor;
    color: white;
    padding: 1em;
    border-radius: 20px;
    margin: 1em 0 1em 0;
    margin-right: 1em;
    


}
.left{
    .box{
.photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
   justify-content: center;
  
    
}



    


.footer{
    color: white;
    
    font-size: 12px;
    
        ul{
            li{
    display: inline;
    color: white;
}

        li:nth-child(1){
                border-right: solid white 1px ;
                padding-right: 1em;
}
        li:nth-child(2){
                padding-left: 1em;
}
        li:link{
                text-decoration:none;
}
        li:active{
                text-decoration: none;
    
}
        }
    }


.footer > ul{
    width: 100%;
}



.right{
    .box{
        .photos{
            display: flex;
            flex-wrap: wrap;
            .photo{
                width: 6em;
                height: 6em;
                background-color: antiquewhite;
                margin: 0.1em;
                flex-grow: 1;
            }

        }
    }
}