$primary-color: #fb6100;
$type-section-background: #f8f5f2;
$type-section-background-2: #d7d7d7;
$item-colors: #e1bbbb, #e1c6bb, #eeeccc, #d7e1bb, #bbe1ca, #bbdce1, #bcbbe1, #d9bbe1;

*{
    margin: 0;
    padding: 0;
}

body { font-family: BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif; }

/*------------header----------*/

header{
    background-color: $primary-color;
    color: white;
    display: flex;
    padding: 1em;
    justify-content: space-between;

        .logo{
            font-size: large;
            span:nth-child(1){
                    font-weight: bold;

        }

        
    }
        button{
                border: none;
                color: white;
                background-color: $primary-color;
                font-size: large;
                .fas.fa-bars{
                    width: 1em;
                    height: 0.5em;
                }
        }   
        .address{
            border-bottom: 1px solid white;
            letter-spacing: 2px;
            
        }

}

/*---------------type-section---------*/

.type-section{
    background-color: $type-section-background;
    display: flex;
    justify-content: center;
    box-shadow: 3px 0px 4px gray;
    .buttons{
        height: 100%;
        button{
            
            font-weight: 600;
            background-color: $type-section-background;
            
        }
    }
    
}

button{
    border: none;
}

.button-1.active{
    color: $primary-color;
    padding: 1em 3em;
    margin: 0 3em;
    border-bottom: solid 3px $primary-color;
    background-color: #fb6100;
}

/*-------------------category section---------------*/
.category-section{
    margin-top: 0.5em;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    
        button{
            padding: 1em;
            background-color: rgb(255, 255, 255);
        }


.active{
    background-color: $primary-color;
    border-radius: 20px;
    color: white;

}}

.main-section{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 30% 70%;
}

.header{
    padding: 1em 0;
    font-weight: 700;
}

.radio-button{
    margin: 0.5em 0;
}

.search{
    
    input{
        padding: 0.5em;
        width: 90%;
    }

    .header{
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.item{
    display: flex;
    margin: 1em;
    border: 1px rgb(171, 171, 171) solid;
   
.pic{
    width: 40%;
}

.logo{

    background-color: #ffffff;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    position: relative;
    top: 1em;
    right: 2.5em;
    .name{
        transform: rotate(-15deg);
        position: relative;
        top: 1.2em;
        left: 1em;
        color: #fb6100;
        font-weight: 600;
    }
    

}
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    padding-left: 1em;
    div{
        padding: 0 0.3em;
        display: flex;
    }
    
        .star{
        color: #fb6100;
            span{
                color: black;
            }
    }
        
    
}

.description{
    font-size: small;
    color: gray
}

$count: 0;
@while $count < 13 {
@each $color in $item-colors{
$i: index($item-colors, $color);

    .item:nth-child(#{$i + $count}) .pic{
        background-color: $color;
    }
}
$count: $count + 8;
}