* {
  margin: 0;
  padding: 0;
}

body {
  font-family: BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/*------------header----------*/
header {
  background-color: #fb6100;
  color: white;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
header .logo {
  font-size: large;
}
header .logo span:nth-child(1) {
  font-weight: bold;
}
header button {
  border: none;
  color: white;
  background-color: #fb6100;
  font-size: large;
}
header button .fas.fa-bars {
  width: 1em;
  height: 0.5em;
}
header .address {
  border-bottom: 1px solid white;
  letter-spacing: 2px;
}

/*---------------type-section---------*/
.type-section {
  background-color: #f8f5f2;
  display: flex;
  justify-content: center;
  box-shadow: 3px 0px 4px gray;
}
.type-section .buttons {
  height: 100%;
}
.type-section .buttons button {
  font-weight: 600;
  background-color: #f8f5f2;
}

button {
  border: none;
}

.button-1.active {
  color: #fb6100;
  padding: 1em 3em;
  margin: 0 3em;
  border-bottom: solid 3px #fb6100;
  background-color: #fb6100;
}

/*-------------------category section---------------*/
.category-section {
  margin-top: 0.5em;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.category-section button {
  padding: 1em;
  background-color: rgb(255, 255, 255);
}
.category-section .active {
  background-color: #fb6100;
  border-radius: 20px;
  color: white;
}

.main-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 30% 70%;
}

.header {
  padding: 1em 0;
  font-weight: 700;
}

.radio-button {
  margin: 0.5em 0;
}

.search input {
  padding: 0.5em;
  width: 90%;
}
.search .header {
  font-weight: 600;
  letter-spacing: 1px;
}

.item {
  display: flex;
  margin: 1em;
  border: 1px rgb(171, 171, 171) solid;
}
.item .pic {
  width: 40%;
}
.item .logo {
  background-color: #ffffff;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  position: relative;
  top: 1em;
  right: 2.5em;
}
.item .logo .name {
  transform: rotate(-15deg);
  position: relative;
  top: 1.2em;
  left: 1em;
  color: #fb6100;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  padding-left: 1em;
}
.content div {
  padding: 0 0.3em;
  display: flex;
}
.content .star {
  color: #fb6100;
}
.content .star span {
  color: black;
}

.description {
  font-size: small;
  color: gray;
}

.item:nth-child(1) .pic {
  background-color: #e1bbbb;
}

.item:nth-child(2) .pic {
  background-color: #e1c6bb;
}

.item:nth-child(3) .pic {
  background-color: #eeeccc;
}

.item:nth-child(4) .pic {
  background-color: #d7e1bb;
}

.item:nth-child(5) .pic {
  background-color: #bbe1ca;
}

.item:nth-child(6) .pic {
  background-color: #bbdce1;
}

.item:nth-child(7) .pic {
  background-color: #bcbbe1;
}

.item:nth-child(8) .pic {
  background-color: #d9bbe1;
}

.item:nth-child(9) .pic {
  background-color: #e1bbbb;
}

.item:nth-child(10) .pic {
  background-color: #e1c6bb;
}

.item:nth-child(11) .pic {
  background-color: #eeeccc;
}

.item:nth-child(12) .pic {
  background-color: #d7e1bb;
}

.item:nth-child(13) .pic {
  background-color: #bbe1ca;
}

.item:nth-child(14) .pic {
  background-color: #bbdce1;
}

.item:nth-child(15) .pic {
  background-color: #bcbbe1;
}

.item:nth-child(16) .pic {
  background-color: #d9bbe1;
}/*# sourceMappingURL=pyszne.css.map */