body {
  font-family: Roboto, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
}

/*----------------------nav------------------*/
header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 1px solid rgb(228, 228, 228);
}
header .start {
  display: flex;
}
header .start button {
  border: none;
  padding: 0 1em;
  background-color: white;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo .fab.fa-youtube {
  color: red;
}
header .logo .name {
  font-weight: 700;
}
header .logo .pl {
  position: relative;
  bottom: 0.5em;
  font-size: 10px;
  color: gray;
}

.center {
  display: flex;
  align-items: center;
  width: 40%;
  border: solid 1px rgb(228, 228, 228);
}
.center input {
  width: 100%;
  border: none;
  padding: 0 1em;
  background-color: white;
}
.center button {
  border: none;
  padding: 0.5em 1em;
  border-left: solid rgb(228, 228, 228) 1px;
}

.end {
  display: flex;
  align-items: center;
}
.end button {
  margin: 0 1em;
  border: none;
}
.end .login {
  color: #065fd4;
  border: solid #065fd4 2px;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  width: 8em;
  font-weight: 600;
}

.login {
  color: #065fd4;
  border: solid #065fd4 2px;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  width: 8em;
  font-weight: 600;
}

/*--------------------body, container-------------------*/
#body {
  display: flex;
  justify-content: space-between;
}

/*--------------------left section------------*/
#left-section {
  flex-basis: 20%;
  background-color: white;
}
#left-section .link-group {
  padding: 1em;
  border-bottom: solid 1px rgb(228, 228, 228);
}
#left-section .link-group .header {
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
}

li {
  display: block;
  padding: 0.5em;
}

.login-info {
  padding: 0.5em;
  border-bottom: solid 1px rgb(228, 228, 228);
}
.login-info .login {
  margin: 0.5em;
}

/*------------------------main--------------*/
#main-section {
  flex-basis: 80%;
}

.buttons {
  border-bottom: 1px solid rgb(228, 228, 228);
  padding: 0.5em;
}
.buttons button {
  border-radius: 10px;
  border: 1px solid rgb(228, 228, 228);
  padding: 0.3em;
}
.buttons button:nth-child(1) {
  background-color: black;
  color: white;
}

.main-movie-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 10px 5px 5px rgb(185, 185, 185);
}
.main-movie-section .header {
  grid-column: span 4;
  padding-left: 2em;
  padding-top: 2em;
  font-size: large;
  font-weight: 600;
}

.movie {
  display: flex;
  flex-wrap: wrap;
}

.movie:nth-child(1) .movie-frame {
  width: 100%;
  height: 8em;
  background-color: #e1bbbb;
  margin: 1em;
}

.movie:nth-child(2) .movie-frame {
  width: 100%;
  height: 8em;
  background-color: #e1c6bb;
  margin: 1em;
}

.movie:nth-child(3) .movie-frame {
  width: 100%;
  height: 8em;
  background-color: #eeeccc;
  margin: 1em;
}

.movie:nth-child(4) .movie-frame {
  width: 100%;
  height: 8em;
  background-color: #d7e1bb;
  margin: 1em;
}

.movie:nth-child(5) .movie-frame {
  width: 100%;
  height: 8em;
  background-color: #bbe1ca;
  margin: 1em;
}

.movie:nth-child(6) .movie-frame {
  width: 100%;
  height: 8em;
  background-color: #bbdce1;
  margin: 1em;
}

.movie:nth-child(7) .movie-frame {
  width: 100%;
  height: 8em;
  background-color: #bcbbe1;
  margin: 1em;
}

.movie:nth-child(8) .movie-frame {
  width: 100%;
  height: 8em;
  background-color: #d9bbe1;
  margin: 1em;
}

.avatar {
  width: 3em;
  height: 3em;
  background-color: #bbdce1;
  border-radius: 50%;
  margin: 0.5em;
}

.movie-info {
  width: 70%;
  padding: 0.5em;
}
.movie-info .title {
  font-weight: 600;
  padding: 0.5em;
}
.movie-info .info {
  padding: 0.5em;
  font-size: 12px;
}
.movie-info .info .channel-name {
  padding-bottom: 0.5em;
}/*# sourceMappingURL=youtube.css.map */