$login-color: #065fd4;
$header-button: #030303;
$background-color: #f8f8f8;
$category-hover: #f2f2f2;
$sc-background: white;
$search: rgb(228, 228, 228);
body { font-family: Roboto, Arial, sans-serif; }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $background-color;
}

/*----------------------nav------------------*/
header{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid $search;
    .start{
        display: flex;
            button{
                border: none;
                padding: 0 1em;
                background-color: $sc-background;
                    }
            }

                    .logo{
                            display: flex;
                            align-items: center;
                            .fab.fa-youtube{
                            color: red;
                         }
                            .name{
                            font-weight: 700;
                        }
                            .pl{
                                position: relative;
                                bottom: 0.5em;
                                font-size: 10px;
                                color:gray

                         }
            }

}



.center{
    display: flex;
    align-items: center;
    width: 40%;
    border: solid 1px $search;
        input{
            width: 100%;
            border: none;
            padding: 0 1em;
            background-color: $sc-background;
        }
        button{
            border: none;
            padding: 0.5em 1em;
            border-left: solid $search 1px;
        }
}



.end{
    display: flex;
    align-items: center;
   
    button{
        margin: 0 1em;
        border: none;
    }
   
    .login{
        color: #065fd4;
        border: solid #065fd4 2px;
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        width: 8em;
        font-weight: 600;

    }
}


.login{
    color: #065fd4;
    border: solid #065fd4 2px;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    width: 8em;
    font-weight: 600;

}
 

/*--------------------body, container-------------------*/

#body{
    display: flex;
    justify-content: space-between;
}
/*--------------------left section------------*/

#left-section{
    flex-basis: 20%;
    background-color: $sc-background;
    .link-group{
        padding: 1em;
        border-bottom: solid 1px $search ;
        .header{
            text-transform: uppercase;
            color: gray;
            font-weight: bold;
        }
    }
}

li{
    display: block;
    padding: 0.5em;
}

.login-info{
    padding: 0.5em;
    border-bottom: solid 1px $search;
    .login{
        margin: 0.5em;
    }
}

/*------------------------main--------------*/
#main-section{
    flex-basis: 80%;
}

.buttons{
    border-bottom: 1px solid $search;
    padding: 0.5em;
button{
    border-radius: 10px;
    border: 1px solid $search;
    padding: 0.3em;
    }
button:nth-child(1){
    background-color: black;
    color: white;
}

}


.main-movie-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 10px 5px 5px rgb(185, 185, 185);

    .header{
        grid-column: span 4;
        padding-left: 2em;
        padding-top: 2em;
        font-size: large;
        font-weight: 600;
    }
}


.movie{
    display: flex;
    flex-wrap: wrap;

}

$movie-colors:#e1bbbb, #e1c6bb, #eeeccc, #d7e1bb, #bbe1ca, #bbdce1, #bcbbe1, #d9bbe1;
@each $color in $movie-colors{
    $i: index($movie-colors, $color);
    .movie:nth-child(#{$i}) .movie-frame{
    width: 100%;
    height: 8em;
    background-color: $color;
    margin: 1em;
    

}
}


.avatar{
    width: 3em;
    height: 3em;
    background-color: #bbdce1;
    border-radius: 50%;
    margin: 0.5em;
}

.movie-info{
    width: 70%;
    padding: 0.5em;
   .title{
    font-weight: 600;
    padding: 0.5em;
   }
   .info{
    padding: 0.5em;
    font-size: 12px;
        .channel-name{
            padding-bottom: 0.5em;
        }
   }

}


