.box {background-color: #c4c4c4;
    border: solid; 
    padding: 1em;
    width: 50%;
    font-family: Arial;
}

.box > .box-content {

    border: solid 5px;
    border-color: white;
    padding: 2em;

}

.add {border: solid 0.5em;
    border-color: white;
    outline-style: solid 1em;
    padding: 1em;

}