body {
    margin: 0;
    background-color:#ECECEC;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    padding: 1em;
    text-align: center;
    background-color: #E8E2D9;
    color: #483E3E;
    box-shadow: #a1a1a1 0px 0px 10px;
    letter-spacing: 0.5em;
    font-weight: bold;
    font-weight:900;
    text-transform: uppercase;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section{
    padding: 1em;
    box-shadow: #a1a1a1 0px 0px 10px;;
    margin: 1em;
    background-color: #F7F3F3;
}

form {
    padding: 1em;
    

    
}

fieldset{
    border:solid 1px #a1a1a1;
}

legend{
    color:#a1a1a1;
    letter-spacing: 4px;
    font-size: medium;
}

.form-group{
    color:#483E3E;
    text-transform: uppercase;  
    margin-top: 1em; 
    margin-bottom: 1em;
    font-size: 12px;
    font-weight: bold;
    display: block;

    
  }



label{
    font-weight: bold;
    display: block;
    width: 9em;
    float: left;
    text-align: right;
    margin-right: 1em;
    padding-top: 0.5em;
    letter-spacing: 0.2em;
    margin-left: 3em;

}

input{
    width: 50%;
    padding: 0.3em;
}


.button{
float: right;
}

button{
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    background-color:#c4beb6;
}
button:hover{
    background-color: #483E3E;
    cursor: pointer;
}


table{
    margin: 1em;
}
tr:nth-child(odd){
    background-color: #f1ece9;
}
tr:first-child{
    background-color: #e8e2d9;
    text-align: left;
    text-transform: uppercase;
    margin: 1em;
    font-size: 16px;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: #f7f3f3;
}
td{
    text-align: top;
    padding: 1em;
    
}
tr{
    padding: 1em;
}