body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ececec;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
}
h2 {
    text-align: center;
    letter-spacing: 20px;
    color: #045137;
    text-transform: uppercase;
}
.contact{
    box-shadow: 0px 0px 10px #a5a5a5;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
   

}

.name {
    background-color: #045137;
    color: white;
    font-size: medium;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
  }

.info {
    margin: 20px;
}

span{
    display: block;
}

.address {
    text-align: right;
    margin: 20px;
    font-size: 14px;
}

.address > span {
    color:#045137
}

.mail {
    font-weight: bold;
    font-style: italic;
    color: #045137;
    margin-bottom: 10px;
}
