.content > div:nth-child(2){
    color: blue
}

.content > div:nth-child(2) > div:nth-child(1){
    letter-spacing: 10px;
    font-weight: bold;
}
.content > div:nth-child(2) > div:nth-child(2) > div:nth-child(1){
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}
.content > div:last-child > div:nth-child(2) > div:nth-child(2){
    text-decoration: underline;
}