@mixin shadow 
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: "Roboto", sans-serif;

}
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;

.logo{
    font-size: large;
    margin: 1em;
    text-transform: uppercase;
    font-weight: bold;
}     

ul{
    display: flex;
    display: inline;
    
    

li{
    display: inline;
    padding-right: 1em;
    
}}
}


main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.button{
    @include shadow;
}

.header-panel{
    @include shadow;
    
}

.nav{
    @include shadow;

}
.item{
    @include shadow;
}

.important-box{
    @include shadow;
}

.second-important-box{
    @include shadow;
}


/*main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:1em;
    /*grid-template-areas: "przycisk napis napis napis"
                         "nav1 wazne wazne wazne"
                         "nav1 ram1 ram2 ram3"
                         "nav2 wazne2 wazne2 wazne2"
                         "nav2 ram4 ram5 ram6"
                         "footer footer footer footer";*/
                         
    
/*}

.button{
    @include shadow;
    
    
}

.header-panel{
    @include shadow;
    /*grid-column: span 3;*/
   
/*}

.nav{
   grid-row: span 2;
   @include shadow;
   
}

.nav:nth-child(1){
    
}

.nav:nth-child(2){
    
    
}

.important-box{
    @include shadow;
    /*grid-column: span 3;
    

}


.second-important-box{
    @include shadow;
    grid-column: span 2;
    
}

.item{
    @include shadow;
}

.footer-content{
    @include shadow;
    
}

/*$area: ram1, ram2, ram3, ram4, ram5, ram6;
@each $a in $area {
    $i: index($area, $a);

    .item:nth-child(){
        grid-area: $a;
        
    }
}

.image-item{
    background-color: aqua;
}

.item:nth-child(2){
    height: 400px;
}
*/