body {
  margin: 0;
}

main {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(4, 300px);
}

.item {
  background-color: rgb(206, 255, 255);
}

.nav {
  background-color: lightcoral;
}/*# sourceMappingURL=zad_04s.css.map */