.content{
    
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    border: solid 1px black;
    
}

@for $i from 1 through 25 {
     .color-plane:nth-child(#{$i}){
        width: 10vh;
        height: 10vh;
      border: solid 1px black;
    @if $i % 2 == 0 {
       
        background-color: rgb(230, 225, 219);
    }
   @else {
        background-color: rgb(160, 131, 93)
}}}



