.container{
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto auto auto auto
}

.item {
    text-align: center;
    background-color: burlywood;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 600;
    font-size: 24px;
    border: 1px solid black

}

.item.item11 {
    grid-row: 3 / 7;
    background-color: rgb(177, 137, 177);
}

.item.item9{
    grid-column: span 2;
    background-color: rgb(235, 131, 131);
}

.item.item16{
    grid-row: span 2;
    grid-column: span 2;
    background-color: rgb(162, 218, 218);
}

.item.item29{
    grid-column: span 4;
    background-color: rgb(107, 73, 40);
}
