.content {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  border: solid 1px black;
}

.color-plane:nth-child(1) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(2) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(3) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(4) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(5) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(6) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(7) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(8) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(9) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(10) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(11) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(12) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(13) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(14) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(15) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(16) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(17) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(18) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(19) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(20) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(21) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(22) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(23) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}

.color-plane:nth-child(24) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(230, 225, 219);
}

.color-plane:nth-child(25) {
  width: 10vh;
  height: 10vh;
  border: solid 1px black;
  background-color: rgb(160, 131, 93);
}/*# sourceMappingURL=zad_01.css.map */