.content {
  display: grid;
  width: 50vw;
  grid-template-columns: auto auto auto auto auto;
  height: 20vw;
  width: 20vw;
  border: solid black;
  text-shadow: 2px 2px gray;
  gap: 1px;
  gap: black;
}

.color-plane:nth-child(even) {
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  padding: 10%;
  color: white;
  text-shadow: 2px 2px gray;
}

.color-plane:nth-child(odd) {
  background-color: lightsalmon;
  border: 1px solid black;
  padding: 10%;
  color: white;
}/*# sourceMappingURL=zad_01ver1.css.map */