body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #1d1e19;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 40vh 40vh 40vh;
  justify-content: center;
  align-content: center;
  gap: 1em;
  height: 100vh;
  grid-template-areas: "v d img" "h h img" "h h enim";
}

.info {
  background-color: gray;
  color: white;
  padding: 1em;
  border-radius: 25px;
  padding-bottom: 2em;
  grid-area: enim;
}
.info p {
  text-align: end;
  font-style: italic;
}

.item-1 {
  background-color: gray;
  color: white;
  padding: 1em;
  border-radius: 25px;
  padding-bottom: 2em;
}

.item-2 {
  background-color: gray;
  color: white;
  padding: 1em;
  border-radius: 25px;
  padding-bottom: 2em;
}

.item-3 {
  background-color: gray;
  color: white;
  padding: 1em;
  border-radius: 25px;
  padding-bottom: 2em;
}

.image {
  background-image: url("foggy.jpg");
  background-size: cover;
  background-color: gray;
  color: white;
  padding: 1em;
  border-radius: 25px;
  padding-bottom: 2em;
  grid-area: img;
}

.item-1 {
  grid-area: d;
}

.item-2 {
  grid-area: v;
}

.item-3 {
  grid-column: span 2;
  grid-area: h;
}

.header {
  font-weight: 800;
  padding-bottom: 1em;
}/*# sourceMappingURL=zad_03.css.map */