@charset "UTF-8";
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1em;
}

.item {
  background-color: rgb(211, 202, 156);
  text-align: center;
  font-weight: 600;
  border: black 1px solid;
  padding: 1em;
}

/*Ogarnij sposób zagnieżdżania*/
.item.item9 {
  background-color: rgb(194, 77, 77);
  grid-column: span 2;
}

.item.item11 {
  background-color: lavender;
  grid-row: span 4;
}

.item.item16 {
  background-color: lightblue;
  grid-column: span 2;
  grid-row: span 2;
}

.item.item29 {
  background-color: lightgoldenrodyellow;
  grid-column: span 4;
}/*# sourceMappingURL=zad_02.css.map */