body {
    font-family: "Roboto", sans-serif;
   background-color: whitesmoke ;
  }

  *{
    margin: 0;
    padding: 0;
  }

  nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: white;

     ul{
    display: flex;
  }
  li{
    display: inline;
    padding: 0.5em;
    color:#999999
  }
  }

  .logo{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }

 
  main{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    gap: 1em;

  }

  @mixin main {
    box-shadow: 0 12px 24px -13px rgb(140, 140, 140);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  .header-panel{
    grid-column: span 3;
    @include main;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
      input{
          padding: 0.5em;
          border: solid 1px rgb(182, 182, 182);
      }
      .header{
        font-weight: bold;
        padding: 0.2em 0;

      }
  }

  .button{
    @include main;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    background-color:  #16165f ;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    padding: 1em 7em;
    font-size: 8px;
  
  }

  .important-box{
    grid-column: span 3;
   color: rgb(251, 189, 189);
   padding: 1em;
   font-size: 15px;
   font-weight: bold;
    @include main
  }

  .second-important-box{
    grid-column: span 3;
    color: green;
    padding: 1em;
    font-size: 15px;
    font-weight: bold;

    @include main
  }

  .item{
    grid-row: span 2;
    @include main;
    border-radius: 10px;

  
  }

  .item-content{
    padding: 1em;
  }

  .nav{
    grid-row: span 2;
    grid-column: 1 / 2;
    @include main;
    padding: 2em 0 2em 3em;
    height: 50%;
   

      .header{
        font-weight: bold;
        padding: 0.5em;
      }

     ul{
    height: 50%; 
    
    li::marker{
      content: ">  ";
    }
   
       }
  }

  .image-item{
    background-color: gray;
    height: 7em;
    border-radius: 10px 10px 0 0;
  }

  footer{
    background-color: #4a636a;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }

 