body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: white;
}
nav ul {
  display: flex;
}
nav li {
  display: inline;
  padding: 0.5em;
  color: #999999;
}

.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

main {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  gap: 1em;
}

.header-panel {
  grid-column: span 3;
  box-shadow: 0 12px 24px -13px rgb(51, 50, 50);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-panel input {
  padding: 0.5em;
  border: solid 1px rgb(182, 182, 182);
}
.header-panel .header {
  font-weight: bold;
  padding: 0.2em 0;
}

.button {
  box-shadow: 0 12px 24px -13px rgb(140, 140, 140);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #16165f;
  border-radius: 10px;
  color: white;
  letter-spacing: 1px;
  padding: 1em 7em;
  font-size: 8px;
}

.important-box {
  grid-column: span 3;
  color: rgb(251, 189, 189);
  padding: 1em;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 12px 24px -13px rgb(140, 140, 140);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.second-important-box {
  grid-column: span 3;
  color: green;
  padding: 1em;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 12px 24px -13px rgb(140, 140, 140);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.item {
  grid-row: span 2;
  box-shadow: 0 12px 24px -13px rgb(140, 140, 140);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-radius: 10px;
}

.item-content {
  padding: 1em;
}

.nav {
  grid-row: span 2;
  grid-column: 1/2;
  box-shadow: 0 12px 24px -13px rgb(140, 140, 140);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 2em 0 2em 3em;
  height: 50%;
}
.nav .header {
  font-weight: bold;
  padding: 0.5em;
}
.nav ul {
  height: 50%;
}
.nav ul li::marker {
  content: ">  ";
}

.image-item {
  background-color: gray;
  height: 7em;
  border-radius: 10px 10px 0 0;
}

footer {
  background-color: #4a636a;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}/*# sourceMappingURL=zad_04.css.map */