body {
  background-color: rgb(28, 30, 33);
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0 15% 0 15%;
}

.change-photo {
  background-color: lightblue;
  height: 6em;
  width: 6em;
  border-radius: 50%;
}

.header {
  display: flex;
  margin-bottom: 2em;
}

.name {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 25px;
  align-self: flex-end;
  padding-left: 1em;
}

.fas.fa-camera {
  position: relative;
  top: 3em;
  left: 3em;
}

.nav {
  border-radius: 10px;
}

.box.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-list {
  display: flex;
  justify-content: space-around;
}

.menu-item {
  display: inline;
  padding: 0 1em 0 1em;
}

a {
  color: white;
}

.buttons {
  display: flex;
  padding: 1em;
}

.btn {
  border-radius: 10px;
  background-color: gray;
  color: white;
  border: 0;
  margin: 0 0.5em 0 0.5em;
  padding: 0.2rem;
}

.container {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
}

.box {
  background-color: rgb(43, 44, 46);
  color: white;
  padding: 1em;
  border-radius: 20px;
  margin: 1em 0 1em 0;
  margin-right: 1em;
}

.left .box .photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  justify-content: center;
}
.left .box .photo:nth-child(1) {
  background-color: lightblue;
  color: lightblue;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}
.left .box .photo:nth-child(2) {
  background-color: lightcoral;
  color: lightcoral;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}
.left .box .photo:nth-child(3) {
  background-color: lightsteelblue;
  color: lightsteelblue;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}
.left .box .photo:nth-child(4) {
  background-color: lightgreen;
  color: lightgreen;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}
.left .box .photo:nth-child(5) {
  background-color: lightsalmon;
  color: lightsalmon;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}
.left .box .photo:nth-child(6) {
  background-color: lightslategrey;
  color: lightslategrey;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}
.left .box .photo:nth-child(7) {
  background-color: lightgray;
  color: lightgray;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}
.left .box .photo:nth-child(8) {
  background-color: lightpink;
  color: lightpink;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}
.left .box .photo:nth-child(9) {
  background-color: lightseagreen;
  color: lightseagreen;
  height: 5em;
  width: 5em;
  border-radius: 10px;
}

.footer {
  color: white;
  font-size: 12px;
}
.footer ul li {
  display: inline;
  color: white;
}
.footer ul li:nth-child(1) {
  border-right: solid white 1px;
  padding-right: 1em;
}
.footer ul li:nth-child(2) {
  padding-left: 1em;
}
.footer ul li:link {
  text-decoration: none;
}
.footer ul li:active {
  text-decoration: none;
}

.footer > ul {
  width: 100%;
}

.right .box .photos {
  display: flex;
  flex-wrap: wrap;
}
.right .box .photos .photo {
  width: 6em;
  height: 6em;
  background-color: antiquewhite;
  margin: 0.1em;
  flex-grow: 1;
}/*# sourceMappingURL=min_facebook.css.map */