*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin pad {
     padding: 0.5em 1em;
     margin: 0.5em 1em;
}
header{
    display: flex;
    padding: 1em;
    align-items: center;



        .kuleczko{
            width: 2em;
            height: 2em;
            background-color: red;
            border-radius: 50%;
            
        }

        button{
            background-color: black;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 20px;
           @include pad()
        }

        input{
            @include pad;
            border: 1px solid lightgray;
            border-radius: 20px;
            width: 70%;

        }


        .name{
            margin: 0.5em;
            background-color: red;
            color: white;
            padding: 0.5em;
            border-radius: 50%;
        }
}
$colors: plum, red, green, purple, lightblue;

.content{
    display: flex;
    flex-wrap: wrap;
}

$count: 0;
@while $count < 23 {
    @each $color in $colors{
        $i: index($colors, $color);
        .item:nth-child(#{$i + $count}) {
            background-color: $color;

        }
    }
    $count: $count + 5
}
.item{
    height: 10em;
    width: 10em;
    margin: 1em;
}

