* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  padding: 1em;
  align-items: center;
}
header .kuleczko {
  width: 2em;
  height: 2em;
  background-color: red;
  border-radius: 50%;
}
header button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
}
header input {
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 70%;
}
header .name {
  margin: 0.5em;
  background-color: red;
  color: white;
  padding: 0.5em;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.item:nth-child(1) {
  background-color: plum;
}

.item:nth-child(2) {
  background-color: red;
}

.item:nth-child(3) {
  background-color: green;
}

.item:nth-child(4) {
  background-color: purple;
}

.item:nth-child(5) {
  background-color: lightblue;
}

.item:nth-child(6) {
  background-color: plum;
}

.item:nth-child(7) {
  background-color: red;
}

.item:nth-child(8) {
  background-color: green;
}

.item:nth-child(9) {
  background-color: purple;
}

.item:nth-child(10) {
  background-color: lightblue;
}

.item:nth-child(11) {
  background-color: plum;
}

.item:nth-child(12) {
  background-color: red;
}

.item:nth-child(13) {
  background-color: green;
}

.item:nth-child(14) {
  background-color: purple;
}

.item:nth-child(15) {
  background-color: lightblue;
}

.item:nth-child(16) {
  background-color: plum;
}

.item:nth-child(17) {
  background-color: red;
}

.item:nth-child(18) {
  background-color: green;
}

.item:nth-child(19) {
  background-color: purple;
}

.item:nth-child(20) {
  background-color: lightblue;
}

.item:nth-child(21) {
  background-color: plum;
}

.item:nth-child(22) {
  background-color: red;
}

.item:nth-child(23) {
  background-color: green;
}

.item:nth-child(24) {
  background-color: purple;
}

.item:nth-child(25) {
  background-color: lightblue;
}

.item {
  height: 10em;
  width: 10em;
  margin: 1em;
}/*# sourceMappingURL=printset.css.map */