body {
  font-family: BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding-right: 0.5em;
}
header .logo {
  font-weight: 700;
  font-size: medium;
  padding: 0 1em;
  text-transform: uppercase;
}
header input {
  width: 60%;
  border-radius: 20px;
  border-color: ghostwhite;
}
header button {
  border: none;
  background-color: white;
  color: rgb(118, 118, 118);
}
header .separator {
  width: 3%;
}

#submit {
  border: solid 1px lightgray;
  padding: 0.5em 0.5em;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
nav button {
  background-color: white;
  color: rgb(118, 118, 118);
  border: none;
}
nav .separator {
  border-right: 2px solid lightgray;
}

.active {
  font-weight: 600;
  color: black;
}

#search-section {
  background-color: #07022d;
  color: white;
  display: flex;
  justify-content: center;
  height: 20em;
  align-items: center;
}

.header {
  font-weight: 600;
  font-size: 30px;
}

.content span {
  display: block;
}

.content {
  width: 50%;
}

.search {
  background-color: white;
  border-radius: 10px;
  padding: 0.2em;
  display: flex;
}
.search input {
  border: none;
  background-color: white;
  width: 70%;
}
.search button {
  border: none;
}

.main {
  padding: 1em;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
}

.pic {
  background-color: #e9e2d9;
  margin: 1em 0;
}

.first-column, .second-column, .third-column {
  width: 20em;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-top: 1px solid lightgray;
  color: lightgray;
}

a {
  text-decoration: none;
  color: lightgray;
}

.left-section {
  border: none;
}/*# sourceMappingURL=unsplash.css.map */